@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  background-color: #1f2937;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: calc(50% + 58px);
  margin-left: -60px;
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.3s;
}

@media screen and (min-width: 640px) {
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1f2937 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

/* BuildingCard.tsx grade colors */
.grade-A {
  color: #009f49;
}

.grade-C {
  color: #b36a15;
}

.grade-D {
  color: #972222;
}


/* Handle HTML in MDX */
.mdx-container {
  line-height: 1.6;
  color: inherit;
  font-size: 1rem;
}

.mdx-container h1,
.mdx-container h2,
.mdx-container h3,
.mdx-container h4,
.mdx-container h5,
.mdx-container h6 {
  /* font-weight: 600; */
  /* line-height: 1.25; */
  /* margin: 1.5em 0 0.75em; */
}

.mdx-container p {
  margin: 1em 0;
}

.mdx-container ul,
.mdx-container ol {
  /* margin: 1em 0 1em 1.5em; */
  padding: 0;
}

.mdx-container ul {
  list-style-type: disc;
}

.mdx-container ol {
  list-style-type: decimal;
}

.mdx-container li {
  margin: 0.25em 0;
  margin-left: .85rem;
}

.mdx-container blockquote {
  border-left: 4px solid #ddd;
  margin: 1em 0;
  padding-left: 1em;
  color: #555;
  font-style: italic;
}

.mdx-container code {
  background: #f5f5f5;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: monospace;
}

.mdx-container pre {
  background: #f5f5f5;
  padding: 1em;
  border-radius: 6px;
  overflow-x: auto;
}

.mdx-container hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 2em 0;
}

.mdx-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1.5em auto;
}